body {

	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.mosquito1 {
	width: 50px;
	height: 50px;
}

.mosquito2 {
	width: 70px;
	height: 70px;
}

.mosquito3 {
	width: 90px;
	height: 90px;
}

.ladoA {
	transform: scaleX(1);
}

.ladoB {
	transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top:solid 1px #fff;
	background-color: #fff;
	opacity: 0.7
}



.vidas {
	float: left;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 20rem;
	margin-left: 35rem;
	cursor: pointer;
	border-radius: .5em;
margin-right: 25rem;
}

.button {
	
	font-family: 'Lato', sans-serif;
	letter-spacing: .02rem;
	cursor: pointer;	
	border-radius: 0.4rem;	
	padding: 1.5rem 2rem;
	font-size: 2.2rem;
}

.button:hover{
background-color: #fff;
border-color: rgb(9, 108, 0);
color: rgb(9, 108, 0);
}


